# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Datos procesados (se regeneran con el pipeline)
data/processed/
data/marts/*.duckdb

# Conservar estructura de carpetas vacías
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/marts/.gitkeep

# Sistema operativo
.DS_Store
Thumbs.db
